{% load static %}
<link rel="stylesheet" href=" {% static 'assets/css/header/bigmenu.css' %}" />

<section class="megamenu">
    <div class="megamenu-content">
        <ul class="cats-content">
            <li class="category-and-subcategory">
                <ul class="">
                    <li class="header_megamenu megamenu_item">
                        <a href="">Men</a>
                    </li>
                    <li class="subcategory megamenu_item"><a href="">Jean</a></li>
                    <li class="subcategory megamenu_item">
                        <a href="">Jackets</a>
                    </li>
                    <li class="subcategory megamenu_item"><a href="">Skirts</a></li>
                </ul>
            </li>
            <li class="category-and-subcategory">
                <ul class="">
                    <li class="header_megamenu">
                        <a href="">Women</a>
                    </li>
                    <li class="subcategory"><a href="">Jean</a></li>
                    <li class="subcategory">
                        <a href="">Jackets</a>
                    </li>
                    <li class="subcategory"><a href="">Skirts</a></li>
                </ul>
            </li>
        </ul>
        <ul class="header-cat-image">
            
            {% for cat in cat_parents %}
                        
            <li class="">
                <img src="{{cat.cat_image.url}}" alt="" />
            </li>
       
            {% endfor %}
        
        </ul>
    </div>
</section>