*{
    margin: 0;
    padding: 0;

}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about .brand{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about .brand p{
margin-top: 10px;
font-size: 1.4rem;
text-align: justify;
}
.about .clothes{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about .clothes p{
margin-top: 10px;    
font-size: 1.4rem;
text-align: justify;

}
.about .logoabout {
    margin-bottom: 50px;
}

.about .logoabout img {
    width: 400px;
    height: 400px;
}

/* Media queries */
