/* 64ac15 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboad-main {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 50px 40px 0 40px;
}

/* lEFT SIDE INFOS */
.dashboad-main .dashboard-left-side {
  margin-left: 20px;
}
.dashboad-main .dashboard-left-side > ul {
  background-color: rgb(251, 247, 252);
  display: flex;
  flex-direction: column;
  padding: 10px;
  list-style: none;
}

.dashboad-main .dashboard-left-side > ul > li {
  padding: 7px;
}

.dashboad-main .dashboard-left-side > ul > li > a {
  text-decoration: none;
  color: rgb(114, 213, 255);
  font-size: 1.2em;
  opacity: 0.7;
}

.dashboad-main .dashboard-left-side > ul > li > a:hover,
.dashboad-main .dashboard-left-side > ul > li > a:focus {
  color: rgb(23, 23, 24);
  opacity: 0.9;
}
/* END lEFT SIDE INFOS */

/* Right SIDE INFOS*/

.dashboad-main .dashboard-right-side {
  width: 85%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 40px;
}
.dashboad-main .dashboard-right-side .dashboard-right-contents {
  position: relative;
  width: 100%;
}

/* Personal informations */

.dashboad-main .dashboard-right-side .dashboard-right-contents .db-myaccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
}

.dashboad-main
  .dashboard-right-side
  .dashboard-right-contents
  .db-myaccount
  > li {
  margin-bottom: 5px;
}

.dashboad-main
  .dashboard-right-side
  .dashboard-right-contents
  .db-myaccount
  .db-personal-infos {
  font-size: 1.3em;
  opacity: 0.7;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.dashboad-main
  .dashboard-right-side
  .dashboard-right-contents
  > .db-myaccount
  .db-fullname,
.dashboad-main
  .dashboard-right-side
  .dashboard-right-contents
  > .db-myaccount
  .db-email {
  font-size: 1.1em;
  opacity: 0.5;
}

.dashboad-main
  .dashboard-right-side
  .dashboard-right-contents
  > .db-myaccount
  .db-edit
  > ul {
  display: flex;
  margin-top: 50px;
}

.dashboad-main
  .dashboard-right-side
  .dashboard-right-contents
  > .db-myaccount
  .db-edit
  > ul
  > li {
  margin-right: 10px;
  border: 1px solid black;
  padding: 10px;
}

.dashboad-main
  .dashboard-right-side
  .dashboard-right-contents
  > .db-myaccount
  .db-edit
  > ul
  > li
  > a {
  text-decoration: none;
  color: rgb(111, 134, 249);
}

.dashboad-main
  .dashboard-right-side
  .dashboard-right-contents
  > .db-myaccount
  .db-edit
  > ul
  > li
  > a:hover,
.dashboad-main
  .dashboard-right-side
  .dashboard-right-contents
  > .db-myaccount
  .db-edit
  > ul
  > li
  > a:focus {
  color: rgb(35, 35, 36);
}

/* End Personal informations */

/* Wishlist */
.db-Wishlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
}

.db-Wishlist > li {
  margin-bottom: 5px;
}

.db-Wishlist .db-wishlist-infos {
  font-size: 1.3em;
  opacity: 0.9;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}

.db-Wishlist .db-wishlist-infos .db-Wishlist-count {
  margin: 10px 0;
  font-size: 0.8em;
  opacity: 0.6;
}

/* wishlist gallery */
.db-Wishlist .db-wishlist-store-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.db-Wishlist .db-wishlist-store-gallery .db-one-item {
  margin: 5px;
  width: 20%;
  height: 400px;
}

.db-Wishlist .db-wishlist-store-gallery .db-one-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.db-others-infos {
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
}

.db-others-infos > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.db-others-infos > ul .db-title-and-price > ul {
  display: flex;
  justify-content: space-between;
  transform: translateY(335px);
}

.db-others-infos > ul .db-favorite-img {
  transform: translateY(345px);
  display: flex;
  justify-content: flex-end;
}

.db-others-infos > ul .db-favorite-img > img {
  width: 15px;
  cursor: pointer;
}

/* Address */

.db-address {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
}

.db-address > li {
  margin-bottom: 5px;
}

.db-address .db-address-infos {
  font-size: 1.3em;
  opacity: 0.9;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.db-address .db-address-container > ul {
  display: flex;
  flex-direction: column;
}

.db-address .db-address-container > ul .db-address-owner {
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.db-address .db-address-container > ul .db-address-owner {
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.db-address .db-address-container > ul .db-x {
  font-size: 0.9em;
  opacity: 0.7;
}

.db-address .db-address-container > ul .db-edit-x {
  margin-top: 50px;
  width: 30%;
}

.db-address .db-address-container > ul .db-edit-x > a {
  width: 100%;
  font-size: 1.2em;
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
}

.db-address .db-address-container > ul .db-edit-x > a:hover {
  background-color: rgb(0, 0, 0, 0.7);
}

/* End Address */

/* End orders */
.db-orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
}

.db-orders > li {
  margin-bottom: 5px;
}

.db-orders .db-orders-infos {
  font-size: 1.3em;
  opacity: 0.9;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.db-product-name-and-image > ul {
  display: flex;
  align-items: center;
}
.db-product-name-and-image > ul > li {
  margin-right: 10px;
}

.db-product-name-and-image > ul .db-product-image {
  width: 20px;
  height: 40px;
}
.db-product-name-and-image > ul .db-product-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
table {
  width: 100%;
}
table .db-orders-header {
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
}

table .db-orders-contents {
  margin: 200px;
}
th,
td {
  padding: 15px;
}

.db-status-td {
  padding: 4px 7px 4px 7px;
  border-radius: 30px;
  border: none;
  background-color: rgb(251, 251, 236);
}

.db-see-product > a{
  color: black;
}
