{% extends '../main.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href=" {% static 'assets/css/home/home.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

  <!-- Swiper -->
  <div class="simple-carousel">
    <a href="#" class="control_next"><i class="fa fa-chevron-right"></i></a>
    <a href="#" class="control_prev"><i class="fa fa-chevron-left"></i></a>
    <ul>
      {% for product in products %}
         {% if product.is_active_active_on_home_carousel == True %}
      <li class="slide" style="background-image: url('{{product.product_cover_image.url}}');"></li>
         {% endif %}
      {% endfor %}
    </ul>
  </div>






<!-- Start Middle elements-->
<!-- <section class="home-middle-contents">
  <h1 class="new-arrival">New arrivals</h1>
  <div class="middle-images-shopping">
    <div class="middle-images-shopping-item">
      <img src="{% static 'assets/imgs/MQ1.jpeg' %}" alt="Responsive image" />
      <div class="all-infos">
        <ul>
          <li>Robe asymétrique</li>
          <li>60 Eu</li>
        </ul>
        <img src="{% static 'assets/imgs/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <div class="middle-images-shopping-item">
      <img src="{% static 'assets/imgs/MQ4.jpg' %}" alt="Responsive image" />
      <div class="all-infos">
        <ul>
          <li>Top drapée</li>
          <li>180 Eu</li>
        </ul>
        <img src="{% static 'assets/imgs/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <div class="middle-images-shopping-item">
      <img src="{% static 'assets/imgs/MQ2.jpg' %}" alt="Responsive image" />
      <div class="all-infos">
        <ul>
          <li>Pantalon de costume</li>
          <li>160 Eu</li>
        </ul>
        <img src="{% static 'assets/imgs/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <div class="middle-images-shopping-item">
      <img src="{% static 'assets/imgs/MQ3.jpeg' %}" alt="Responsive image" />
      <div class="all-infos">
        <ul>
          <li>Chemise asymétrique</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'assets/imgs/favoritedislike.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div></div>
</section>

<section class="home-slogan">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum in cupiditate quos quidem illo, itaque corporis dolorem beatae ad voluptate necessitatibus exercitationem fugit reiciendis harum qui, 
    neque repudiandae, consequatur aliquid.</p>
</section> -->

<!-- <script>
  // MouseOver
  var button = document.getElementById("all-info-id");

  button.addEventListener("mouseover", function () {
    button.style.opacity = 1;
  });

  button.addEventListener("mouesout", function () {
    button.style.opacity = 0;
  });
</script> -->
<!-- Swiper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Initialize Swiper -->
<script>
$(document).ready(function () {
  simpleCarousel($(".simple-carousel"), 5000);
});

function simpleCarousel(carousel, intervalTime = 5000) {
  var slideCount = $(carousel).find("ul li.slide").length;
  var activeSlide = 0;

  function showSlide() {
    $(carousel)
      .find("ul li.slide")
      .each(function (index) {
        if (index == activeSlide) {
          $(this).fadeIn();
        } else {
          $(this).fadeOut();
        }
      });
  }

  setInterval(function () {
    moveRight();
  }, intervalTime);

  function moveLeft() {
    activeSlide -= 1;
    if (activeSlide < 0) {
      activeSlide = slideCount - 1;
    }
    showSlide();
  }

  function moveRight() {
    activeSlide += 1;
    if (activeSlide >= slideCount) {
      activeSlide = 0;
    }
    showSlide();
  }

  $(carousel)
    .find("a.control_prev")
    .click(function () {
      moveLeft();
    });

  $(carousel)
    .find("a.control_next")
    .click(function () {
      moveRight();
    });
}

</script>

{% endblock %}
