{% extends '../main.html' %} {% load static %} 
{% block title %} Parisianist | Site officiel {% endblock %} 
{% block content %}

<link rel="stylesheet" href=" {% static 'assets/css/home/home.css' %}" />



<!-- Owl carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" 
integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Owl carousel -->

<!--SLIDER-->
<div class="carousel-images-container">
  <div class="swiper mySwiper" >
    <div class="owl-carousel owl-theme">
        {% for product in products %} 
        {% if product.is_active_on_home_carousel == True %}
        <div class="item">
          <img
          class="swiper-slide"
          src="{{product.product_home_carousel_image.url}}"
          alt="{{product.product_name}}"
        />
        </div>
    
      {% endif %} 
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<!--END OF SLIDER-->
<!-- Start FOOTER -->
<!-- End FOOTER -->






<!-- Owl carousel -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" 
integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:2
        }
    }
})
</script>
<!-- Owl carousel -->
<!-- Start Swiper JS -->
<script>
  var swiper = new Swiper(".mySwiper", {
    autoplay: {
    delay: 5000,
  },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<!-- End Swiper JS -->

{% endblock content %}
