{% extends '../main.html' %} {% load static %} 
{% block title %} Parisianist | Site officiel {% endblock %} 
{% block content %}

<link rel="stylesheet" href=" {% static 'assets/css/home/home.css' %}" />

<!-- swiper cdn -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- swiper cdn -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<!-- End swiper cdn -->

<!--SLIDER-->
<div class="carousel-images-container">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper {% if forloop.counter0 == 0 %} active {% endif %}">
        {% for product in products %} 
        {% if product.is_active_active_on_home_carousel == True %}
      <img
        class="swiper-slide"
        src="{{product.product_home_carousel_image.url}}"
        alt="{{product.product_name}}"
      />
      {% endif %} {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<!--END OF SLIDER-->
<!-- Start FOOTER -->
{% include '../footer/footer.html' %}
<!-- End FOOTER -->



<!-- Start Swiper JS -->
<script>
  var swiper = new Swiper(".mySwiper", {
    autoplay: {
    delay: 5000,
  },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<!-- End Swiper JS -->

{% endblock content %}
