{% extends '../../main.html' %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  href=" {% static 'assets/css/product-details/product-details.css' %}"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<!-- Jquery part -->
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>
<!-- End Jquery part -->

<section class="main-details-container">
  <!-- Start Left details elements -->
  <div class="left-details-container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for img in images %} {% if img.product_image %}
        <img
          class="swiper-slide {% if forloop.counter0 == 0 %} active {% endif %}"
          src="{{img.product_image.url}}"
        />
        {% endif %} {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <img
      class="add-to-favorite"
      src="{% static 'assets/imgs/dislike.png' %}"
      alt=""
    />
  </div>
  <!-- End Left details elements -->

  <!-- Right details elements -->
  <div class="right-details-container">
    <form action="{% url 'add_cart' single_product.id %}" method="POST">
      {% csrf_token %}
      <ul>
        <li class="product-name">{{single_product.product_name }}</li>
        <li class="variant-colors">
          <div class="color-choice">
            {% for i in single_product.variation_set.all %}
            <span>{{ i.color.name | capfirst }}</span>
            {% endfor %}
          </div>
          <div class="color-container">
            {% for i in single_product.variation_set.all %}
            <div class="colorbox">
              <input
                required
                class="blackinput"
                type="radio"
                name="color"
                id="username3"
                value="{{ i.color.name | lower }}"
              />
              <label
                style="background: {{i.color.colorCode}}; border : 1px solid black"
                for=""
              ></label>
            </div>
            {% endfor %}
          </div>
        </li>

        <!-- Size -->

        <li class="variant-size">
          <div class="size-container">
            {% for i in single_product.variation_set.all %}
            <div class="sizebox">
              <input
                required
                class="size_input"
                type="radio"
                name="size"
                id="username3"
                value="{{ i.size.size | lower }}"
              />
              <label class="size_label"
                >{{ i.size.size | capfirst }}</label
              >
            </div>
            {% endfor %}
          </div>
        </li>

        <li class="submit-button">
          <button type="submit">
            <div class="submit-left">
              <span class="material-symbols-outlined"> shopping_bag </span>
              <span class="add-button"> Add</span>
            </div>
            <div class="submit-right">
              <span class="price-button">
                <p class="price">{{single_product.product_price }}</p>
                <!-- <p class="discount">200</p> -->
              </span>
            </div>
          </button>
        </li>
      </ul>
    </form>
    <div class="details-cleaning">
      <ul>
        <li id="details-linkId" onmouseover="openDetails()" class="details">
          Details
        </li>
        <li id="cleaning-linkId" onmouseover="openCleaning()" class="cleaning">
          Cleaning
        </li>
      </ul>
      <div id="detailsId" class="details-cleaning-text" id="page_content">
        <p class="details-text">
          Les details Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Accusantium non aspernatur molestiae quis molestias tempora veritatis
          praesentium, reiciendis mollitia? Officia repellendus hic minima
          aliquid cum labore autem deserunt laboriosam? Velit?
        </p>
      </div>

      <div id="cleaningId" class="details-cleaning-text" id="page_content">
        <p class="cleaning-text">
          Les cleaning Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Accusantium non aspernatur molestiae quis molestias tempora veritatis
          praesentium, reiciendis mollitia? Officia repellendus hic minima
          aliquid cum labore autem deserunt laboriosam? Velit?
        </p>
      </div>
    </div>
  </div>
  <!-- End Right details elements -->
</section>

<!-- Start Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<!-- End Swiper JS -->

<!-- Details and cleaning script -->
<script>
  var details = document.getElementById("detailsId");
  var cleaning = document.getElementById("cleaningId");
  var detailsLink = document.getElementById("details-linkId");
  var cleaningLink = document.getElementById("cleaning-linkId");

  function openDetails() {
    details.style.opacity = "1";
    cleaning.style.opacity = "0";
    detailsLink.style.borderBottom = "1px solid black";
    cleaningLink.style.borderBottom = "1px solid white";
  }

  function openCleaning() {
    details.style.opacity = "0";
    cleaning.style.opacity = "1";
    cleaningLink.style.borderBottom = "1px solid black";
    detailsLink.style.borderBottom = "1px solid white";
  }
</script>
<!-- End details and cleaning script -->

<!-- Colors variants scripts -->
<!-- Colors variants scripts -->
{% endblock %}
