{% load static %}
<link rel="stylesheet" href=" {% static 'assets/css/footer/footer.css' %}" />

<div class="footer-container">
  <ul>
        <li class="high-elements">
            <ul>
                <li><a href="">Mention légale</a></li>
                <li><a href="">Politique de confidentialité</a></li>
                <li><a href=""> Conditions générales de vente</a></li>
                <li><a href="">Policy refund</a></li>
                <li><a href="">Shipping policy</a></li>
            </ul>
        </li>
        <li class="low-elements">
            <ul>
                <li class="instagram"><a href=""><img src="{% static 'assets/imgs/instagram.png' %}" alt=""></a></li>
                <li class="bank-elements">
                    <ul>
                        <li class="mastercard"><img src="{% static 'assets/imgs/mastercard.png' %}" alt=""></li>
                        <li class="visacard"><img src="{% static 'assets/imgs/visa.png' %}" alt=""></li>
                        <li class="paypalmethod"><img src="{% static 'assets/imgs/paypal.png' %}" alt=""></li>
                    </ul>
                </li>
            </ul>
        </li>
  </ul>
</div>
