<ul class="db_content personal-infos-contents">
    <li class="db-personal-infos">My account - Personal informations</li>
    <li class="db-fullname">Prince Yekpahi</li>
    <li class="db-email">princeyekpahi@gmail.com</li>
    <li class="db-edit">
        <ul>
            <li><a href="">Edit account</a></li>
            <li><a href="">Edit password</a></li>
        </ul>
    </li>
</ul>

<script>
    console.log("salut")
    const tabs = document.querySelectorAll('.tabs-link');
    console.log(tabs)
    const all_content = document.querySelectorAll('.db_content');
    tabs.forEach((tab, index) => {
      tab.addEventListener('click', (e) => {
        tabs.forEach(tab=>{tab.classList.remove("active")});
        tab.classList.add('active');
        all_content.forEach(content=>{content.classList.remove('active')});
        all_content[index].classList.add('active');
      })
    })
  </script>