{% load static %}
<ul class="db_content wishlist-content" id="tab-content">
  <li class="db-wishlist-infos">
    <span class="db-Wishlist-title">Wishlist</span>
    <span class="db-Wishlist-count"> 2 articles selected</span>
  </li>

  <li class="db-wishlist-store-gallery">
    
    {% for wl in wishlist %}
      
   
      
    <div class="db-one-item">
      {% for image in wl.product.photos.all %}
      {% if image.is_feature %}
      <img src="{{image.product_image.url}}" alt="" />
      {% endif %}
      {% endfor %}
      <div
        class="db-others-infos"
        onmouseover="chargeOpacity(this)"
        onmouseout="removeOpacity(this)"
      >
        <ul>
          <li class="db-title-and-price">
            <ul>
              <li>{{wl.product.product_name}}</li>
              <li>2000 Euro</li>
            </ul>
          </li>
          <li class="db-favorite-img">
            <img src="{% static 'assets/imgs/dislike.png' %}" alt="" />
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </li>
</ul>

<!-- Gallery infos scripts -->
<script>
  function chargeOpacity(x) {
    x.style.opacity = "1";
    x.style.transition = "all 0.9s ease-in-out";
  }

  function removeOpacity(x) {
    x.style.opacity = "0";
    x.style.transition = "all 0.9s ease-in-out";
  }
</script>

<!-- Gallery infos scripts -->
