{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- End font-awesome -->
    <!-- Ajax link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    {% comment %} <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/> {% endcomment %}
    <!-- Ajax End link -->
    <link rel="shortcut icon" type="image" href="{% static 'assets/imgs/Pparisianist.png' %}"/>

    <!-- paypal script-->
    <script src="https://www.paypal.com/sdk/js?client-id=AawJgAAwp17Vt21QABjprpEzPSE7ZpoPKzPB85Wv4Wc5YeAWJqRfVkPeQE3KPs-MQngufgzve1_IoyfB&currency=USD"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <!-- Swiper Link -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script> -->
    <!-- End Swiper Link -->

<!-- swiper cdn -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

<!-- End swiper cdn -->

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include './header/header.html' %} 
    {% block content %} {% endblock %} 
    {% include './footer/footer.html' %}


<!-- swiper cdn -->

<!-- End swiper cdn -->

  </body>
</html>
