{% load static %}

<link
  rel="stylesheet"
  href=" {% static 'assets/css/store/store-gallery.css' %}"
/>


<div class="store-gallery" id="filteredProducts">
  <!-- One slider -->
  {% if products %} 
  {% for product in products %}

  <div class="swiper">
    <div class="swiper-wrapper">
      {% for image in product.photos.all %}
      <img
        class="swiper-slide"
        src="{{ image.product_image.url }}"
        alt="{{ product.product_name }}"
      />
      {% endfor %}
    </div>

    <div class="gallery-swiper-buttons-and-infos" onmouseover="chargeOpacity(this)" onmouseout="removeOpacity(this)">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="gallery-infos">
          <a href="{{ product.get_url}}" class="title">{{product.product_name}}</a>
          <span class="price">{{product.product_price}}</span>
        </div>
        <!-- <form action="{% url 'add-to-wishlist' %}" method="POST">
        {%csrf_token%}
        <input type="hidden" name="id" value="{{product.id}}">
        <input type="submit" value="Add to Wishlist">
      </form> -->

        {% if product.pk in wishlisted_list %} 
        {% for i in wishlisted_list %} 
        {% if product.pk is i %}
        <span
          class="like heart"
          id="id"
          attr_id="{{product.pk}}"
          action_url="{% url 'add-to-wishlist' %}"
          ><img src="{% static 'assets/imgs/like.png' %}" alt=""
        /></span>
        {% endif %} {% endfor %} {% else %}
        <span
          class="like"
          id="id"
          attr_id="{{product.pk}}"
          action_url="{% url 'add-to-wishlist' %}"
        >
          <img src="{% static 'assets/imgs/dislike.png' %}" alt=""
        /></span>
        {% endif %}

        <!-- <a class="add-to-wishlist" href ="{% url 'add-to-wishlist' %}" data-product-item="{{product.id}}">
        <img  src="{% static 'assets/imgs/dislike.png' %}" alt="" />
      </a>  -->
    </div>
  </div>
  {% endfor %} {% else %}
  <p>No product found, try again..</p>
  {% endif %}
  <!-- End one slider -->
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(document).on("click", ".like", function (event) {
      event.preventDefault();
      var attr_id = $(this).attr("attr_id");
      var action_url = $(this).attr("action_url");
      var that = $(this);
      $.ajax({
        url: action_url,
        type: "POST",
        data: { attr_id: attr_id },
        headers: { "X-CSRFToken": $.cookie("csrftoken") },
        success: function (result) {
          console.log("Success");
          that.toggleClass("heart");
        },
        error: function () {
          alert("Please login");
        },
      });
    });
  });
</script>

<!--
<script type="text/javascript">
  $(document).ready(function () {
    $(".like").click(function () {
      var attr_id = $(this).attr("attr_id");
      var action_url = $(this).attr("action_url");
      var that = $(this);
      $.ajax({
        url: action_url,
        type: "POST",
        data: { attr_id: attr_id },
        headers: { "X-CSRFToken": $.cookie("csrftoken") },
        success: function (result) {
          console.log("Success");
          that.toggleClass("heart");
        },
        error: function () {
          alert("Please login");
        },
      });
    });
  });
</script>
-->

<!-- <script>
  $(document).on("click", '.like', function(){
    let product_id = $(this).attr("data-product-item")
    let this_val = $(this)
  console.log("Product ID is", product_id)
    $.ajax({
      url: "/add-to-wishlist",
      data : {
        "id": product_id
      },
      dataType : "json",
      beforeSend: function(){
       console.log("Adding to wishlist ♥...")
      },
      success: function(response){
          this_val.html("♥")
          if (response.bool === true) {
              console.log("Added to wishlist...");
        }
      }
    })
  })
  </script> -->

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".swiper", {
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<!-- Gallery infos scripts -->
<script>
  function chargeOpacity(x) {
    x.style.opacity = "0.8";
    x.style.transition = "all 0.9s ease-in-out";
  }

  function removeOpacity(x) {
    x.style.opacity = "0";
    x.style.transition = "all 0.9s ease-in-out";
  }
</script>
<!-- Gallery infos scripts -->
