{% extends '../main.html' %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  href=" {% static 'assets/css/product-details/product-details.css' %}"
/>

<section class="product-details-container">
  <aside class="carousel">
    <div
      id="carousel-example-1z"
      class="carousel slide carousel-fade"
      data-ride="carousel"
    >
      <!--Start Slides-->
      <div class="carousel-inner" role="listbox">
        {% for img in images %} 
        {% if img.photo_name %}
        <div
          class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}"
        >
          <img
            class="d-block w-100"
            src="{{img.photo_name.url}}"
            alt="First slide"
          />
        </div>
        {% endif %} {% endfor %}
        <a
          class="carousel-control-prev"
          href="#carousel-example-1z"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carousel-example-1z"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
             <!--End Slides-->
      </div>
    </div>
  </aside>
  <!-- Start Right informations -->
  <aside class="right-informations">
    {% include './include/right-element.html' %}
  </aside>
  <!-- End Right informations -->
</section>

<script>
  const buttons = document.querySelectorAll(".btn");
  const slides = document.querySelectorAll(".slide");

  // Tableau d'image : [0, 1, 2]

  buttons.forEach((button) => {
    button.addEventListener("click", (e) => {
      const calcNextSlide = e.target.id === "next" ? 1 : -1;
      const slideActive = document.querySelector(".active");

      newIndex = calcNextSlide + [...slides].indexOf(slideActive);

      if (newIndex < 0) newIndex = [...slides].length - 1;
      if (newIndex >= [...slides].length) newIndex = 0;
      slides[newIndex].classList.add("active");

      slideActive.classList.remove("active");
    });
  });
</script>

<script>
  let button = document.getElementById("#colorId");
  function once() {
    console.log("Done.");
    button.removeEventListener("click", once);
  }
  button.addEventListener("click", once);
</script>
{% endblock %}
