{% extends '../main.html' %} {% load static %} 
{% block title %}
{% if category %}
Product for {{category.name}}

{% else %}
All products in the store
{% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href=" {% static 'assets/css/store/store.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

<section class="top-content"></section>

<div class="category-and-filter">
  <ul class="category-parents">
    <li>Home |</li>
    <li>Men |</li>
    <li>Women</li>
  </ul>
  <ul class="filter-contents">
    <li class="filter-element">
      <a id="filter-modal-link-colorid" class="filter-modal-link">Colors
        <i class="bx bxs-chevron-down filter__dropdown__icon"></i>
      </a>
      <div id="filter-modal-colorid" class="filter-modal">
        <ul class="filter-modal-content color-modal">
          <li>
            <a href=""><input type="checkbox" />Black</a>
          </li>
          <li>
            <a href=""><input type="checkbox" />Blue</a>
          </li>
          <li>
            <a href=""><input type="checkbox" />Yellow</a>
          </li>
        </ul>
      </div>
    </li>
        <!-- Start filter size -->
        <li class="filter-element">
          <a id="filter-modal-link-sizeid" class="filter-modal-link">Size
            <i class="bx bxs-chevron-down filter__dropdown__icon"></i>
          </a>
          <div class="filter-modal" id="filter-modal-sizeid">
            <ul class="filter-modal-content size-modal">
              <li>
                <a href=""><input type="checkbox" />XS</a>
              </li>
              <li>
                <a href=""><input type="checkbox" />XXL</a>
              </li>
              <li>
                <a href=""><input type="checkbox" />M</a>
              </li>
            </ul>
          </div>
        </li>
    <!-- end filter size -->
    <li class="filter-element">
      <a id="filter-modal-link-sortbyid" class="filter-modal-link">Sort by
        <i class="bx bxs-chevron-down filter__dropdown__icon"></i>
      </a>
      <div class="filter-modal" id="filter-modal-sortbyid">
        <ul class="filter-modal-content sortby-modal">
          <li>
            <a href=""><input type="checkbox" />+</a>
          </li>
          <li>
            <a href=""><input type="checkbox" />-</a>
          </li>
        </ul>
      </div>
    </li>
    </li>
  </ul>
</div>
{% include './include/store-gallery.html' %}

{% include '../footer/footer.html' %}
<!-- Modal script -->

<!-- Color Modal script -->
<script>
  // Get the modal
  var modal = document.getElementById("filter-modal-colorid");
  
  // Get the button that opens the modal
  var btn = document.getElementById("filter-modal-link-colorid");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>

{% endblock %}
