{% extends '../main.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href=" {% static 'css/store/store.css' %}" />

<!--- Start Collection slogan -->
<section class="collectionclass">
  <p>Collection 2023 - 2024</p>
</section>
<!--- End Collection slogan -->
<section class="list-cat-filter-sortby-section">
  <ul class="list-cat-filter-sortby">
    <li class="category-part">
      <ul>
        <li>Home</li>
        <li>|</li>
        <li>Men</li>
      </ul>
    </li>
    <li class="filter-sortby-part">
      <div class="filter-sortby-container">
        <div class="dropdown">
          <a class="dropbtn">Filters</a>
          <div class="dropdown-content">
            <label class="rad-label">
              <input type="radio" class="rad-input" name="rad">
              <div class="rad-design"></div>
              <div class="rad-text">XS</div>
            </label>
          
            <label class="rad-label">
              <input type="radio" class="rad-input" name="rad">
              <div class="rad-design"></div>
              <div class="rad-text">M</div>
            </label>
          
            <label class="rad-label">
              <input type="radio" class="rad-input" name="rad">
              <div class="rad-design"></div>
              <div class="rad-text">XL</div>
            </label>
          
            <label class="rad-label">
              <input type="radio" class="rad-input" name="rad">
              <div class="rad-design"></div>
              <div class="rad-text">XXL</div>
            </label>
          </div>
      </div>
      <div class="dropdown">
        <a class="dropbtn">Sort by</a>
        <div class="dropdown-content sortby">
          <label class="rad-label">
            <input type="radio" class="rad-input" name="rad">
            <div class="rad-design"></div>
            <div class="rad-text">Ascending price</div>
          </label>
          <label class="rad-label">
            <input type="radio" class="rad-input" name="rad">
            <div class="rad-design"></div>
            <div class="rad-text">Descending price</div>
          </label>
        </div>
    </div>
      </div>
    </li>
  </ul>
</section>
<section class="store-middle-contents">
  <div class="gallery">
    <!--- Start of One Item container -->
    <div class="item">

      <img class="product-img" src="{% static 'desktop/MQ4.jpg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

    <!--- Start of One Item container -->
    <div class="item">

      <img class="product-img" src="{% static 'desktop/MQ3.jpeg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

    <!--- Start of One Item container -->
    <div class="item">

      <img class="product-img" src="{% static 'desktop/MQ1.jpeg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

    <!--- Start of One Item container -->
    <div class="item">
      <img class="product-img" src="{% static 'desktop/MQ14.jpg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

     <!--- Start of One Item container -->
     <div class="item">

      <img class="product-img" src="{% static 'desktop/MQ4.jpg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

    <!--- Start of One Item container -->
    <div class="item">

      <img class="product-img" src="{% static 'desktop/MQ3.jpeg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

    <!--- Start of One Item container -->
    <div class="item">

      <img class="product-img" src="{% static 'desktop/MQ1.jpeg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

    <!--- Start of One Item container -->
    <div class="item">
      <img class="product-img" src="{% static 'desktop/MQ14.jpg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

     <!--- Start of One Item container -->
     <div class="item">

      <img class="product-img" src="{% static 'desktop/MQ4.jpg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

    <!--- Start of One Item container -->
    <div class="item">

      <img class="product-img" src="{% static 'desktop/MQ3.jpeg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

    <!--- Start of One Item container -->
    <div class="item">

      <img class="product-img" src="{% static 'desktop/MQ1.jpeg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->

    <!--- Start of One Item container -->
    <div class="item">
      <img class="product-img" src="{% static 'desktop/MQ14.jpg' %}" alt="" />
      <div class="product-name-price-heartimage">
        <ul>
          <li>Nom du produit</li>
          <li>100 Eu</li>
        </ul>
        <img src="{% static 'desktop/favoritedislike.png' %}" alt="" />
      </div>
    </div>
    <!--- End of One Item container -->
  </div>
</section>

<script>
  const customSelect = document.querySelector(".custom-select");
  const selectBtn = document.querySelector(".select-button");

  const selectedValue = document.querySelector(".selected-value");
  const optionsList = document.querySelectorAll(".select-dropdown li");

  // add click event to select button
  selectBtn.addEventListener("click", () => {
    // add/remove active class on the container element
    customSelect.classList.toggle("active");
    // update the aria-expanded attribute based on the current state
    selectBtn.setAttribute(
      "aria-expanded",
      selectBtn.getAttribute("aria-expanded") === "true" ? "false" : "true"
    );
  });

  optionsList.forEach((option) => {
    function handler(e) {
      // Click Events
      if (e.type === "click" && e.clientX !== 0 && e.clientY !== 0) {
        selectedValue.textContent = this.children[1].textContent;
        customSelect.classList.remove("active");
      }
      // Key Events
      if (e.key === "Enter") {
        selectedValue.textContent = this.textContent;
        customSelect.classList.remove("active");
      }
    }

    option.addEventListener("keyup", handler);
    option.addEventListener("click", handler);
  });
</script>

{% endblock %}