{% load static %} 
<div class="summary-and-payment-contents" id="sap">
    <ul>
      <!-- Personal informations -->
      <li class="summary-personal-infos">
        <ul>
          <li class="p-infos">Personal informations</li>
          <li class="p-email">{{order.email}}</li>
        </ul>
      </li>
      <!-- End Personal informations -->
      <!-- Shipping information -->
      <li class="shipping-container">
        <ul>
          <li class="shipping">
            <ul>
              <li class="sh-detail">shipping details</li>
              <li class="sh-upadate">uptate shipping details</li>
            </ul>
          </li>
          <li class="fullname">{{order.first_name}} {{order.last_name}}</li>
          <li class="fulladress">
            <ul>
              <li>{{order.address_line_1}} - {{order.postcode}}</li>
              <li>{{order.country}}</li>
              <li>{{user.zip_code}}{{order.phone}}</li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- End Shipping information -->
      <!-- Delivery method -->
      <li class="delivery-method">
        <ul>
          <li class="delivery-method-title">Delivery method</li>
          <li class="method-price">
            <ul>
              <li class="the-method">
                
                {% if order.delivery_method == 'Colissimo' %}
                Colissimo ( Delivery within 2-4 days )
                {% elif order.delivery_method == 'DHL' %}
                DHL ( Delivery within 2-4 days )
               {% else %}
              No delivery method selected
                {% endif %}
                  
                
              </li>
              <li class="method-price">0 Eur</li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- End delivery method -->
      <!-- Start Billing address -->
      <li class="billing-address">
        <ul>
          <li class="billing-title">
            <ul>
              <li class="bill-addr">Billing Address</li>
              <li class="bill-update">Update billing address</li>
            </ul>
          </li>
          <li class="address-note">
            <select name="" id="">
              <option value="">
                {{order.first_name}} {{order.last_name}}, {{order.address_line_1}}, {{order.city}}, {{order.postcode}}
              </option>
            </select>
          </li>
        </ul>
      </li>
      <!-- End Billing address -->
<!-- start of payments methods -->
<li class="summary-payment-method">
            
    <ul>
        <li class="summary-payment-title">Payment methods</li>
  
        
        {% if order.payment_method == 'Paypal' %}
 <!-- Paypal-->
 <li class="one-payment-method">
  <ul>
    <li class="one-card-x">
      <ul class="first-infos">
        <li class="s-method-input">
          <input
            type="radio"
            id="paypal"
            name="payment_method"
            value="paypal"
          />
        </li>
        <li class="s-method-image">
          <img
            src="{% static 'assets/imgs/paypal.png' %}"
            alt=""
          />
        </li>
        <li class="s-method-label">
          <label for="html">Paypal</label><br />
        </li>
      </ul>
    </li>
    <li class="link-paypal">
      <a href="">Paypal</a>
    </li>
  </ul>
</li>
<!-- Paypal -->
          {% elif order.payment_method == 'Card' %}
          <!-- Credit card -->
        <li class="one-payment-method">
          <ul>
            <li class="one-card-x">
              <ul class="first-infos">
                <li class="s-method-input">
                  <input
                    type="radio"
                    id="paypal"
                    name="payment_method"
                    value="card"
                  />
                </li>
                <li class="s-method-image">
                  <span class="material-symbols-outlined">
                    credit_card
                  </span>
                </li>
                <li class="s-method-label">
                  <label for="html">Card</label><br />
                </li>
              </ul>
            </li>
            <li class="fill-credit-card">
              <ul>
                <li class="card-number-and-type">
                  <input type="text" placeholder="Card number" />
                  <div>
                    <img
                      src="{% static 'assets/imgs/credit-cart.png'%}"
                      alt=""
                    />
                    <img
                      src="{% static 'assets/imgs/visa.png'%}"
                      alt=""
                    />
                  </div>
                </li>
                <li class="expiration">
                  <input type="text" placeholder="Expiration : MM/YY" />
                </li>
                <li class="cvc">
                  <input type="text" placeholder="CVC" />
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- End credit card -->
        <li>
          <button
            type="submit"
            name="submit"
            class="btn btn-primary btn-block"
          >
            Place order
          </button>
        </li>
      </ul>
          </li>
          <!-- End of payments methods -->
          {% else %}
          No payment method selected
        {% endif %}
          
       
        
    </ul>
  </div>