*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}

.category-and-filter {
  position: relative;
  top: 100px;
  display: flex;
}

.category-parents {
  position: absolute;
  left: 0;
  display: flex;
  margin-left: 15px;
}

.category-parents > li {
  margin-right: 20px;
  font-size: 1.5em;
  font-weight: lighter;
}

.filter-contents {
  position: absolute;
  right: 0;
  margin-right: 15px;
  display: flex;
}

.filter-contents > li {
  margin-right: 30px;
  font-size: 1.5em;
}

.filter-element .filter-modal-link {
  cursor: pointer;
}

/* color filter */
.color-modal-content {
  position: absolute;
  right: 14.5%;
  top: 235px;
  margin-top: 10px;
  padding: 6px;
  border: none;
  background-color: white;
}

.color-modal-content > li > a {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 10px;
}

.color-modal-content > li > a > input {
  margin-right: 10px;
  font-size: large;
  cursor: pointer;
}
.color-modal-content > li > a > span {
  margin-right: 10px;
  font-size: large;
}

.filter-modal-color {
  display: none;
  position: absolute;
  top: -210px;
  right: -22%;
  width: 2050px;
  height: 1500px;
  z-index: 1111; /* Sit on top */
  overflow: hidden; /* Enable scroll if needed */
  padding-top: 250px;
  cursor: pointer;
}

.filter-color-overlay {
  display: none;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  cursor: pointer;
}

/* End color Modal */


/* Size Modal */

.size-modal-content {
  position: absolute;
  right: 10%;
  top: 235px;
  margin-top: 10px;
  padding: 6px;
  border: none;
  background-color: white;
}


.size-modal-content > li > a {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 10px;
}

.size-modal-content > li > a > input {
  margin-right: 10px;
  font-size: large;
  cursor: pointer;
}

.size-modal-content > li > a > span {
  margin-right: 10px;
  font-size: large;
}

.filter-modal-size {
  display: none;
  position: absolute;
  top: -210px;
  right: -22%;
  width: 2050px;
  height: 1500px;
  z-index: 1111; /* Sit on top */
  overflow: hidden; /* Enable scroll if needed */
  padding-top: 250px;
  cursor: pointer;
}

.filter-size-overlay {
  display: none;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  cursor: pointer;
}

/* End size Modal */


/* sortby Modal */
.sortby-modal-content {
  position: absolute;
  right: 4%;
  top: 235px;
  margin-top: 10px;
  padding: 6px;
  border: none;
  background-color: white;
}

.sortby-modal-content > li > a {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 10px;
}

.sortby-modal-content > li > a > input {
  margin-right: 10px;
  font-size: large;
  cursor: pointer;
}
.sortby-modal-content > li > a > span {
  margin-right: 10px;
  font-size: large;
}

.filter-modal-sortby {
  display: none;
  position: absolute;
  top: -210px;
  right: -22%;
  width: 2050px;
  height: 1500px;
  z-index: 1111; /* Sit on top */
  overflow: hidden; /* Enable scroll if needed */
  padding-top: 250px;
  cursor: pointer;
}

.filter-sortby-overlay {
  display: none;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  cursor: pointer;
}

/* End sortby Modal */



.filter-menu > li {
  margin-bottom: 15px;
}

.filter-contents > li:hover .filter__dropdown__icon {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
