*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}


.category-and-filter {
  position: relative;
  top: 100px;
  display: flex;
}

.category-parents {
  position: absolute;
  left: 0;
  display: flex;
  margin-left: 15px;
}

.category-parents > li {
  margin-right: 20px;
  font-size: 1.5em;
  font-weight: lighter;
}

.filter-contents {
  position: absolute;
  right: 0;
  margin-right: 15px;
  display: flex;
}

.filter-contents > li {
  margin-right: 30px;
  font-size: 1.5em;
}

.filter-element .filter-modal-link {
  cursor: pointer;
 
}

.filter-modal {
  display: none;
  opacity: 1;
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  right: 0;
  top: 200px;
  width: 100%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.filter-modal.show {
  opacity: 1;
}

.filter-modal-content {
  width: 100px;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.size-modal {
  position: absolute;
  right: 8%;
}

.color-modal {
  position: absolute;
  right: 14%;
}

.sortby-modal {
  position: absolute;
  right: 2%;
}

.filter-menu > li {
  margin-bottom: 15px;
}

.filter-contents > li:hover .filter__dropdown__icon {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
