.store-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  margin-top: 150px;
}

/* swiper carousel */
.swiper {
  flex-basis: 100%;
  height: 600px;
  box-sizing: border-box;
  padding: 2px;
}
.swiper-slide {
  padding: 2px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-swiper-buttons-and-infos {
  position: relative;
  bottom: 100%;
  z-index: 99;
  opacity: 0;
  height: 100%;
  cursor: pointer;
}


.gallery-swiper-buttons-and-infos .gallery-infos {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 90%;
}

.gallery-swiper-buttons-and-infos .gallery-infos .title {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.gallery-swiper-buttons-and-infos .gallery-infos .price {
  margin-right: 15px;
}

.gallery-swiper-buttons-and-infos > span > img {
  width: 20px;
  position: relative;
  top: 91%;
  left: 93%;
}

/* End swiper carousel */

@media only screen and (min-width: 640px) {
  .swiper {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .swiper {
    flex-basis: 33.33%;
  }
}

@media only screen and (min-width: 1280px) {
  .swiper {
    flex-basis: 25%;
  }
}
