*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}

.category-and-filter {
  position: relative;
  top: 100px;
  display: flex;
}

.category-parents {
  position: absolute;
  left: 0;
  display: flex;
  margin-left: 15px;
}

.category-parents > li {
  margin-right: 20px;
  font-size: 1.5em;
  font-weight: lighter;
}

.filter-contents {
  position: absolute;
  right: 0;
  margin-right: 15px;
  display: flex;
}

.filter-contents > li {
  margin-right: 30px;
  font-size: 1.5em;
}

.filter-element .filter-modal-link {
  cursor: pointer;
}

/* color filter */

.filter-modal-color {
  display: block;
  position: absolute;
  top:-210px;
  right: -22%;
  width:2050px ;
  height: 1500px;
  z-index: 1111; /* Sit on top */
  overflow: hidden; /* Enable scroll if needed */
  padding-top: 250px;
}

.filter-color-overlay {
  display: block;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
}
.filter-modal-content {
  width: 120px;
  margin-top: 10px;
  padding: 6px;
  border: none;
  background-color: white;
}

.size-modal {
  position: absolute;
  right: 8%;
}

.color-modal {
  position: absolute;
  right: 14.5%;
  top: 235px;
}

.color-modal > li > a{
display: flex;
text-decoration: none;
color: rgb(0, 0, 0);
margin: 10px;
}

.color-modal > li > a > input{
  margin-right: 10px;
  font-size:large;
  cursor: pointer;
  }
.color-modal > li > a > span{
  margin-right: 10px;
  font-size:large;
}  
  

.sortby-modal {
  position: absolute;
  right: 2%;
}

.filter-menu > li {
  margin-bottom: 15px;
}

.filter-contents > li:hover .filter__dropdown__icon {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
