{% load static %}
<link rel="stylesheet" href=" {% static 'assets/css/user/login.css' %}" />


<div class="account-modal" id="login_modal">
  <div class="modal-contents-container">
    <span class="login_close">&times;</span>
    <ul>
      <li><h2>LOG IN</h2></li>
      <li class="form">
        <form action="{% url 'login' %}" method="POST" >
          {% csrf_token %}
          <input class="form-child" type="email" name='email' placeholder="Email" />
          <input class="form-child" type="password" name='password' placeholder="Password" />
          <span class="form-child"> <a href="{% url 'forgotPassword' %}">Mot de passe oublié ?</a></span>
          <button type="submit" class="form-child">LOG IN</button>
        </form>
      </li>
      <li class="create-account">CREATE A ACCOUNT</li>
      <li class="create-account-link">
        <a href="{% url 'register' %}">CREATE A ACCOUNT</a>
      </li>
    </ul>
  </div>
</div>

<!-- Modal script -->
<script>

  
  // Get the modal
  var login_modal = document.getElementById("login_modal");

  // Get the button that opens the modal
  var login_btn = document.getElementById("login_modal_btn");

  // Get the <span> element that closes the modal
  var login_span = document.getElementsByClassName("login_close")[0];

  // When the user clicks the button, open the modal
  login_btn.onclick = function () {
    login_modal.style.display = "block";
  };

  // When the user clicks on <span> (x), close the modal
    login_span.onclick = function () {
      login_modal.style.display = "none";
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == login_modal) {
      login_modal.style.display = "none";
    }
  };

</script>

<!-- End Modal script -->
